{% extends "base.html" %}


{% block title %}Assign Device{% endblock %}

{% block devices %}{% url 'devices'  %}{% endblock %}
{% block assign %}{% url 'assign_device'  %}{% endblock %}
{% block users %}{% url 'users'  %}{% endblock %} users
{% block login %}{% url 'login'  %}{% endblock %}
{% block logout %}{% url 'logout'  %}{% endblock %}


{% block content %}

<div style="display:flex; justify-content:center; align-items:center; min-height:80vh;">
    <div style="width:400px; padding:20px; border:1px solid #ddd; border-radius:10px; box-shadow:0 0 10px rgba(0,0,0,0.1);">

<h2 style="text-align:center;">Assign Device</h2>

{% for message in messages %}
    <p style="color:green; text-align:center;">{{ message }}</p>
{% endfor %}

<form method="POST">
    {% csrf_token %}

    <!-- Select User -->
    <label>Select User:</label>
    <select name="user_id" required style="width:100%; padding:8px; margin-top:5px;">
        <option value="">-- Select User --</option>
        {% for user in users %}
            <option value="{{ user.id }}">
                {{ user.username }}
            </option>
        {% endfor %}
    </select>

    <br><br>

    <!-- Select Device -->
    <label>Select Device:</label>
    <select name="device_id" required style="width:100%; padding:8px; margin-top:5px;">
        <option value="">-- Select Device --</option>
        {% for device in devices %}
            <option value="{{ device.id }}">
                {{ device.name }} ({{ device.serial_number }})
            </option>
        {% endfor %}
    </select>

    <br><br>

           <button type="submit" style="width:100%; padding:10px; background:#00008B; color:white; border:none; border-radius:5px;">
            Assign Device
        </button>

</form>

</div>
```

</div>

{% endblock %}